.imagem-harry {
    background-color: #A6955A;
    display: flex;
    /* width: 100%; */
    height: 103px;
    justify-content: center;
    align-items: center;
}

.imagem-harry img {
    cursor: pointer;
}

.backpersonagens {
    /* display: flex; */
    /* flex-direction: column; */
    background-image: url(/public/back.personagens.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;

}



