.image-topo img {
  display: flex;
  width: 100%;
  height: 29px;
}

.backhome {
  display: flex;
  flex-direction: column;
  background-image: url(/public/backhome.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 1300px;
  max-width: 100%;
  background-color: #041b29;
}

.logo-home img {
  margin-left: 290px;
  margin-top: 210px;
}

.botao button {
  width: 210px;
  height: 59px;
  margin-top: 53px;
  color: #000000;
  background-color: #A6955A;
  margin-left: 342px;
  border-radius: 10px;
  border: 1px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
}

.botao-hover:hover {
  background-color: #fff;
}


.image-cards {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-top: 260px;
  padding: 0 165px;
  margin-left: 20px;
}

.image-cards img {
  cursor: pointer;
}

.image-cards>div {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.image-cards>div:hover {
  transform: scale(1.05) translateY(-10px);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
}



@media (max-width: 768px) {
  .backhome {
    height: auto;
  }

  .logo-home img {
    margin: 128px 0 0 35px;
    width: 295px;
  }

  .botao button {
    width: 70%;
    margin-top: 20px;
    margin-left: 55px;
  }

  .image-cards {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 0 20px;
    margin-left: 0;
  }

  .image-cards>div {
    transform: none;
    box-shadow: none;
  }

  .image-cards img {
    max-width: 100%;
    padding: 5px;
  }


}