.simbolo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.texto-navegue {
    color: #A6955A;
    font-size: 24px;
    margin-left: 10px;
    font-family: Arial, sans-serif;
}

.imagem-linha img {
    width: 1000px;
    height: 3px;
    margin-left: 30px;
}




@media (max-width: 768px) {
    .simbolo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
    }


    .texto-navegue {
        color: #A6955A;
        font-size: 24px;
        margin-left: 5px;
        font-family: Arial, sans-serif;
    }

    .imagem-linha img {
        display: none;
    }
}