.personagens-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    width: 1280px;
}

.personagem {
    text-align: center;
    margin: 10px;
}

.personagem img {
    width: 163px;
    height: 227px;
    cursor: pointer;
    border: 2px solid#A6955A;
    margin-top: 28px;
}

.nome-pesonagem {
    color: #A6955A;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    width: 161px;
}

.meus-personagens{
    display: flex;
    justify-content: center;
}



@media (max-width: 768px){
    .personagens-container {
        display: flex;
        /* flex-direction: column; */
        /* flex-wrap: wrap; */
        justify-content: center;
        /* justify-content: space-between; */
        width: 1280px;
    }

    .nome-pesonagem {
        /* display: flex;
        flex-direction: column;
        justify-content: center; */
        color: #A6955A;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 24px;
        width: 161px;
    }
    
    .meus-personagens{
        display: flex;
        justify-content: center;
    }

}

